
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}


@section addcss{
    <link rel="stylesheet" href="~/wwwroot/css/custom/profile.css" />
}


<section class="inner-section single-banner">
    <div class="container">
        <h2>Thông tin tài khoản</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Thông tin tài khoản</li>
        </ol>
    </div>
</section>
<section class="inner-section profile-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="account-card">
                    <div class="account-title">
                        <h4>Thông tin tài khoản</h4>
                        <button data-bs-toggle="modal" data-bs-target="#profile-edit">
                            chỉnh sửa
                        </button>
                    </div>
                    <div class="account-content">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="profile-image">
                                    <a href="#"><img src="~/wwwroot/images/user.png" alt="user" /></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label class="form-label">tên</label><input class="form-control"
                                                                                type="text"
                                                                                value="Hoàng Duy Khánh" />
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label class="form-label">Email</label><input class="form-control"
                                                                                  type="email"
                                                                                  value="hdkhanhit@gmail.com" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="profile-btn">
                                    <a href="@Url.Action("ChangePass","Profile")">đổi mật khẩu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="account-card">
                    <div class="account-title">
                        <h4>số điện thoại</h4>
                        <button data-bs-toggle="modal" data-bs-target="#contact-add">
                            thêm số điện thoại
                        </button>
                    </div>
                    <div class="account-content">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="profile-card contact active">
                                    <p>+8801838288389</p>
                                    <ul>
                                        <li>
                                            <button class="edit icofont-edit"
                                                    title="Edit This"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#contact-edit"></button>
                                        </li>
                                        <li>
                                            <button class="trash icofont-ui-delete"
                                                    title="Remove This"
                                                    data-bs-dismiss="alert"></button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="account-card">
                    <div class="account-title">
                        <h4>Địa chỉ</h4>
                        <button data-bs-toggle="modal" data-bs-target="#address-add">
                            thêm địa chỉ
                        </button>
                    </div>
                    <div class="account-content">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="profile-card address active">
                                    <p>
                                        Nguyên Xá, Bắc Từ Liêm, Hà Nội
                                    </p>
                                    <ul class="user-action">
                                        <li>
                                            <button class="edit icofont-edit"
                                                    title="Edit This"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#address-edit"></button>
                                        </li>
                                        <li>
                                            <button class="trash icofont-ui-delete"
                                                    title="Remove This"
                                                    data-bs-dismiss="alert"></button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="contact-add">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button class="modal-close" data-bs-dismiss="modal">
                <i class="icofont-close"></i>
            </button>
            <form class="modal-form">
                <div class="form-title"><h3>Thêm số điện thoại</h3></div>
                <div class="form-group">
                    <label class="form-label">Số điện thoại</label><input class="form-control"
                                                                          type="text"
                                                                          placeholder="Nhập số điện thoại" />
                </div>
                <button class="form-btn" type="submit">lưu thông tin</button>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="address-add">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button class="modal-close" data-bs-dismiss="modal">
                <i class="icofont-close"></i>
            </button>
            <form class="modal-form">
                <div class="form-title"><h3>thêm địa chỉ mới</h3></div>
                <div class="form-group">
                    <label class="form-label">địa chỉ</label><textarea class="form-control"
                                                                       placeholder="nhập địa chỉ"></textarea>
                </div>
                <button class="form-btn" type="submit">lưu thông tin</button>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="profile-edit">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button class="modal-close" data-bs-dismiss="modal">
                <i class="icofont-close"></i>
            </button>
            <form class="modal-form">
                <div class="form-title"><h3>Chỉnh sửa thông tin cá nhân</h3></div>
                <div class="form-group">
                    <label class="form-label">Tên</label><input class="form-control" type="text" value="Hoàng Duy Khánh" />
                </div>
                <div class="form-group">
                    <label class="form-label">email</label><input class="form-control"
                                                                  type="text"
                                                                  value="hdkhanhit@gmail.com" />
                </div>
                <button class="form-btn" type="submit">lưu thông tin</button>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="contact-edit">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button class="modal-close" data-bs-dismiss="modal">
                <i class="icofont-close"></i>
            </button>
            <form class="modal-form">
                <div class="form-title"><h3>Sửa số điện thoại</h3></div>
                <div class="form-group">
                    <label class="form-label">số điện thoại</label><input class="form-control" type="text" value="+8801838288389" />
                </div>
                <button class="form-btn" type="submit">lưu thông tin</button>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="address-edit">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button class="modal-close" data-bs-dismiss="modal">
                <i class="icofont-close"></i>
            </button>
            <form class="modal-form">
                <div class="form-title"><h3>edit address info</h3></div>
                <div class="form-group">
                    <label class="form-label">title</label><select class="form-select">
                        <option value="home" selected>home</option>
                        <option value="office">office</option>
                        <option value="Bussiness">Bussiness</option>
                        <option value="academy">academy</option>
                        <option value="others">others</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">address</label><textarea class="form-control"
                                                                       placeholder="jalkuri, fatullah, narayanganj-1420. word no-09, road no-17/A"></textarea>
                </div>
                <button class="form-btn" type="submit">save address info</button>
            </form>
        </div>
    </div>
</div>