
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@section addcss{
    <link rel="stylesheet" href="~/wwwroot/css/custom/product-details.css" />
}
<section class="single-banner inner-section">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Thịt - Cá - Trứng</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thịt Đùi Heo Meat Deli (Kg)</li>
            </ol>
        </nav>
    </div>
</section>
<section class="inner-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="details-gallery">
                    <ul class="details-preview">
                        <li>
                            <img src="https://ecomartvietnam.vn/wp-content/uploads/2020/05/thit-dui-heo-meat-deli.jpg"
                                 alt="product" />
                        </li>
                        <li>
                            <img src="https://ecomartvietnam.vn/wp-content/uploads/2020/05/thit-dui-heo-2.jpg" alt="product" />
                        </li>
                        <li>
                            <img src="https://ecomartvietnam.vn/wp-content/uploads/2020/05/thit-dui-heo-3.jpg" alt="product" />
                        </li>
                    </ul>
                    <ul class="details-thumb">
                        <li>
                            <img src="https://ecomartvietnam.vn/wp-content/uploads/2020/05/thit-dui-heo-meat-deli.jpg"
                                 alt="product" />
                        </li>
                        <li>
                            <img src="https://ecomartvietnam.vn/wp-content/uploads/2020/05/thit-dui-heo-2.jpg" alt="product" />
                        </li>
                        <li>
                            <img src="https://ecomartvietnam.vn/wp-content/uploads/2020/05/thit-dui-heo-3.jpg" alt="product" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="details-content">
                    <h3 class="details-name">
                        <a>Thịt đùi heo Meat Deli (kg)</a>
                    </h3>
                    <h3 class="details-price">
                        <span>159.900₫</span>
                    </h3>
                    <!-- <h3 class="details-price">
                      <del>$38.00</del><span>$24.00<small>/per kilo</small></span>
                    </h3> -->
                    <p class="details-desc">
                        Trọng lượng: 350G
                    </p>
                    <p class="details-desc">
                        Xuất xứ: Công ty TNHH MNS Meat Hà Nam
                    </p>
                    <p class="details-desc">
                        Tình trạng:
                        <label class="details-label new">còn hàng</label>
                        <!-- <label class="details-label off">hết hàng</label> -->
                    </p>
                    <div class="details-add-group">
                        <button class="product-add" title="Add to Cart">
                            <i class="fas fa-shopping-basket"></i><span>thêm vào giỏ hàng</span>
                        </button>
                        <div class="product-action">
                            <button class="action-minus" title="Quantity Minus">
                                <i class="icofont-minus"></i>
                            </button><input class="action-input" title="Quantity Number" type="text"
                                            name="quantity" value="1" /><button class="action-plus" title="Quantity Plus">
                                <i class="icofont-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="inner-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product-details-frame">
                    <h3 class="frame-title">Mô tả</h3>
                    <div class="tab-descrip">
                        <p>
                            <img style="width: 200px;"
                                 src="https://ecomartvietnam.vn/wp-content/uploads/2020/05/thit-dui-meatdeli-570x395.jpg" alt="">
                            <h1>Giới Thiệu Tổng Quan Về Thịt Đùi Heo MEATDeli</h1>
                            MEATDeli Thịt đùi heo (S) (350g) được sản xuất và đóng gói bởi thương hiệu Meat Deli – là một thương hiệu
                            của Tập đoàn Masan chuyên về sản xuất, chế biến và đóng gói các mặt hàng, sản phẩm thịt tươi, thịt mát
                            sạch, cao cấp, đảm bảo vệ sinh an toàn thực phẩm. Thương hiệu được giới thiệu tới thị trường Việt Nam vào
                            ngày 23/12/2018, đến nay dòng sản phẩm thịt mát của Meat Deli vẫn đang được rất nhiều người dùng Việt Nam
                            ưa chuộng.

                            Thịt đùi heo là phần thịt lóc ra từ phần đùi của con heo, đây là nguyên liệu làm món thịt nguội, Giăm bông
                            hay còn gọi là thịt nguội là một món ăn làm từ đùi heo có nguồn gốc từ các nước châu Âu.
                            <img style="width: 200px;"
                                 src="https://ecomartvietnam.vn/wp-content/uploads/2020/05/cac-mon-ngon-tu-thit-dui-heo-meatdeli-570x395.jpg"
                                 alt="">
                            Sản phẩm MEATDeli Thịt đùi heo được chọn lọc kỹ càng, đảm bảo vệ sinh an toàn thực phẩm. Hơn nữa, các sản
                            phẩm thịt của Meat Deli được đóng gói ở nhiệt độ từ 0 đến 4 độ C cùng với công nghệ Oxy Fresh 9 giúp ngăn
                            chặn vi khuẩn, làm thịt có thể tươi ngon suốt 9 ngày (Chỉ áp dụng cho thịt ba rọi, với các sản phẩm khác
                            người dùng nên kiểm tra lại trên bao bì).
                            <h1>Đặt Mua Thịt Đùi Heo MEATDeli Tại Eco Mart</h1>
                            💥 Giá tốt nhất trên thị trường

                            💥 Sản phẩm được bảo quản trong hệ thống thiết bị hiện đại

                            💥 Giao hàng nhanh chóng khu vực nội thành Hà Nội

                            💥 Phục vụ cả những ngày cuối tuần, lễ tết

                            Vui lòng liên hệ theo số hotline sau để đặt hàng trực tiếp: 📞 0852.979.456
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="inner-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-heading">
                    <h2>cùng danh mục</h2>
                </div>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
            <div class="col">
                <div class="product-card">
                    <div class="product-media">
                        <a class="product-image" href="product.html">
                            <img src="https://ecomartvietnam.vn/wp-content/uploads/2020/09/XUONG-ONG-MEAT-DELI-01-768x625-1.jpg"
                                 alt="product" />
                        </a>
                    </div>
                    <div class="product-content">
                        <h6 class="product-name">
                            <a href="product.html">Xương ống heo Meat Deli</a>
                        </h6>
                        <h6 class="product-price">
                            <span>44.900₫</span>
                        </h6>
                        <button class="product-add" title="Thêm vào giỏ">
                            <i class="fas fa-shopping-basket"></i><span>mua hàng</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="product-card">
                    <div class="product-media">
                        <a class="product-image" href="product.html">
                            <img src="https://ecomartvietnam.vn/wp-content/uploads/2020/09/XUONG-ONG-MEAT-DELI-01-768x625-1.jpg"
                                 alt="product" />
                        </a>
                    </div>
                    <div class="product-content">
                        <h6 class="product-name">
                            <a href="product.html">Xương ống heo Meat Deli</a>
                        </h6>
                        <h6 class="product-price">
                            <span>44.900₫</span>
                        </h6>
                        <button class="product-add" title="Thêm vào giỏ">
                            <i class="fas fa-shopping-basket"></i><span>mua hàng</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="product-card">
                    <div class="product-media">
                        <a class="product-image" href="product.html">
                            <img src="https://ecomartvietnam.vn/wp-content/uploads/2020/09/XUONG-ONG-MEAT-DELI-01-768x625-1.jpg"
                                 alt="product" />
                        </a>
                    </div>
                    <div class="product-content">
                        <h6 class="product-name">
                            <a href="product.html">Xương ống heo Meat Deli</a>
                        </h6>
                        <h6 class="product-price">
                            <span>44.900₫</span>
                        </h6>
                        <button class="product-add" title="Thêm vào giỏ">
                            <i class="fas fa-shopping-basket"></i><span>mua hàng</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="product-card">
                    <div class="product-media">
                        <a class="product-image" href="product.html">
                            <img src="https://ecomartvietnam.vn/wp-content/uploads/2020/09/XUONG-ONG-MEAT-DELI-01-768x625-1.jpg"
                                 alt="product" />
                        </a>
                    </div>
                    <div class="product-content">
                        <h6 class="product-name">
                            <a href="product.html">Xương ống heo Meat Deli</a>
                        </h6>
                        <h6 class="product-price">
                            <span>44.900₫</span>
                        </h6>
                        <button class="product-add" title="Thêm vào giỏ">
                            <i class="fas fa-shopping-basket"></i><span>mua hàng</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="product-card">
                    <div class="product-media">
                        <a class="product-image" href="product.html">
                            <img src="https://ecomartvietnam.vn/wp-content/uploads/2020/09/XUONG-ONG-MEAT-DELI-01-768x625-1.jpg"
                                 alt="product" />
                        </a>
                    </div>
                    <div class="product-content">
                        <h6 class="product-name">
                            <a href="product.html">Xương ống heo Meat Deli</a>
                        </h6>
                        <h6 class="product-price">
                            <span>44.900₫</span>
                        </h6>
                        <button class="product-add" title="Thêm vào giỏ">
                            <i class="fas fa-shopping-basket"></i><span>mua hàng</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="section-btn-25">
                    <a href="category.html" class="btn btn-outline"><i class="fas fa-eye"></i><span>xem tất cả</span></a>
                </div>
            </div>
        </div>
    </div>
</section>